<div class="footer vcard">
    <p class="bio">
        <a href="/is/" class="fn">
            <img src="http://www.gravatar.com/avatar/3c27881a0d8695811b0fa23bd794e696?s=75" height="75" width="75" alt="">Mike West</a>
        works and plays on the internet.  Currently working as part of the Munich-based
        team responsible for <a href="http://sueddeutsche.de/">sueddeutsche.de</a>, he
        develops websites that (on good days) <em>delight</em> and <em>inform</em>.
    </p>

    <p class="license">
        Unless otherwise noted, the content on <a href='/' class="url" rel="home">mikewest.org</a>
        is <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license">licensed for non-commercial reuse</a>.
        Enjoy!
    </p>
    <address>Mike West - <a href='mailto:mike@mikewest.org' class="email">mike@mikewest.org</a></address>
</div>
<script type="text/javascript" src="{{ site.static_root }}/ga.js"></script>
