<address class="vcard">
  <p>
    <a href="/" class="fn" rel="home">Mike West</a>
    <span>
      works and plays on the internet. Currently working as a software
      engineer on Google's Chrome team in Munich, he tries to make the web
      platform marginally less insecure than it generally is. Drop him an
      email at
    </span>
    <a href="mailto:mike@mikewest.org"
       title="Drop me an email."
       class="email icon">mike@mikewest.org</a>
    <span>
      follow him on
    </span>
    <a href="http://twitter.com/mikewest"
      rel="me"
      title="Follow me on Twitter"
      class="twitter icon">Twitter</a>
    <span>
      or on
    </span>
    <a href="https://mastodon.social/@mikewest"
       rel="me"
       title="Follow me on Mastodon"
       class="plus icon">Mastodon</a>
  </p>
</address>
