<div class="footer vcard">
    <p class="bio">
        <a href="/is/" class="fn">
          <img src="{{ site.static_root }}/mikewest_75x75.jpg" height="75" width="75" alt="">Mike West</a>
        works and plays on the internet.  Currently working as a Developer Advocate on
        Google's Chrome team in Munich, he helps develop websites and applications that
        (on good days) <em>delight</em> and <em>inform</em>.
    </p>

    <p class="license">
        With <a href="/license/">notable exceptions</a>, the content on <a href='/' class="url" rel="home">mikewest.org</a>
        is <a href="/license/" rel="license">licensed for non-commercial reuse</a>.
        Enjoy!
    </p>
    <address>Mike West - <a href='mailto:mike@mikewest.org' class="email">mike@mikewest.org</a></address>
</div>
