/**
 * mikewest.org
 */

/******************************************************************************
 * Fonts
 */
@font-face {
    font-family: 'Quattrocento';
    src: url('/static/fonts/Quattrocento-Regular-webfont.eot');
    src: url('/static/fonts/Quattrocento-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Quattrocento-Regular-webfont.woff') format('woff'),
         url('/static/fonts/Quattrocento-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/static/fonts/Inconsolata-webfont.eot');
    src: url('/static/fonts/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Inconsolata-webfont.woff') format('woff'),
         url('/static/fonts/Inconsolata-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/******************************************************************************
 * Base Styles
 */

body,
html {
  margin: 0;
  min-height: 100%;
  padding: 0;
}

a {
  color: rgba(0, 28, 153, 0.75);
  text-decoration: none;
}

html {
  background: #DDD url(/static/images/background.png);
}

body {
  padding-top: 25px;
}

/******************************************************************************
 * Fixed header
 */

address, small {
  background-image: -webkit-linear-gradient(top, #444444 22%,#333333 84%);
  background: #333;
  border-bottom: 1px solid #AAA;
  box-shadow: -5px 3px 5px -2px #999;
  box-sizing: border-box;
  display: block;
  left: 0;
  margin: 0;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

address > p {
  margin: 0 auto;
  padding: 0;
  width: 760px;
}

address > p > a {
  color: #FFF;
  font: 28px/24px Quattrocento;
  margin: 0 10px;
  text-decoration: none;
  text-shadow: 1px 1px #000;
}

address > p > span {
  left: -999em;
  position: absolute;
}

.icon {
  -webkit-user-select: none;
  border-radius: 3px;
  color: transparent;
  display: inline-block;
  float: right;
  height: 24px;
  margin: 0 10px 0 0;
  overflow: hidden;
  text-shadow: none;
  width: 24px;
}

.icon:hover, .icon:focus {
  box-shadow: 0 0 6px #FFF;
}

.email {
  background: url(/static/icons/email.png);
}

.twitter {
  background: url(/static/icons/twitter.png);
}

.twitter:hover, .twitter:focus {
  box-shadow: 0 0 6px #3CF;
}

.plus {
  background: url(/static/icons/g+.png);
}

.plus:hover, .plus:focus {
  box-shadow: 0 0 6px #DD4B39;
}

/******************************************************************************
 * Article Styles
 */

article,
aside {
  background: #EEE;
  border: 5px solid #FFF;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  margin: 0 auto;
  padding: 10px;
  width: 770px;
}

article h1 {
  color: #222;
  font: 45px/1 Quattrocento;
  margin: 15px 10px 0;
  text-align: center; 
  text-decoration: none;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

article p,
article h2,
article li,
article > time,
article blockquote,
aside p {
  color: #111;
  font: 18px/1.5 Georgia,Palatino,'Palatino Linotype',Times,'Times New Roman',serif;
  margin: 1em auto;
  width: 740px;
}

article blockquote {
  background: #FFF;
  border: 1px solid #EEE;
  border-width: 1px 5px;
  margin: 1em -15px;
  padding: 1em 60px;
  position: relative;
  width: 670px;
}

article blockquote::before,
article blockquote::after {
  color: rgba(0, 0, 0, 0.25);
  content: "“";
  font-size: 100px;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 0;
}

article blockquote::after {
  bottom: 0;
  content: "”";
  left: auto;
  line-height: 0;
  right: 0;
  top: auto;
}

article iframe {
  display: block;
  margin: 1em auto;
  width: 606px;
}

article li,
article li p {
  width: auto;
}

article .published {
  color: #666;
  display: block;
  font-size: 14px;
  text-align: center;
}

article h2 {
  border-bottom: 1px solid #CCC;
  font-size: 24px;
  font-weight: 400;
  margin: 0.75em 0 0;
  width: auto;
}

code,
pre {
  font-family: Inconsolata,Monospace;
}

pre {
  background: #EAF2F5;
  border: 1px solid #BEDCE7;
  border-color: rgba(255,255,255,0.5) #BEDCE7;
  border-width: 1px 5px;
  font-size: 18px;
  margin: 1em -15px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1em 20px;
}

ul pre,
ol pre {
    margin-left: -55px;
    padding-left: 50px;
}

ul ul pre,
ol ol pre,
ul ol pre,
ol ul pre {
  margin-left: -95px;
  padding-left: 90px;
}

.footnotes {
  border-top: 5px solid white;
  margin: 1em -10px;
  padding: 1em 15px;
}

/******************************************************************************
 * Article Footer Styles
 */

aside {
  margin: 1em auto;
}
aside p {
  font-size: 16px;
}
aside p span {
  font-weight: 700;
}

/******************************************************************************
 * Footer Styles
 */

small {
  background-image: -webkit-linear-gradient(top, #333333 22%,#444444 84%);
  background: #333;
  box-shadow: -5px -3px 5px -2px #999;
  border: 1px solid #AAA;
  border-width: 1px 0 0;
  color: #FFF;
  font: 14px/1 Georgia, Times, Serif;
  padding: 0.5em 0;
  position: static;
  text-align: center;
}

small a {
  color: #FFF;
}

