---
layout: default
---
<section class="archive">
  <h1>Archived Posts from {{ page.year }}</h1>
  {% for m in (1..12) reversed %}
    {% if page.posts_by_month[page.year][m] %}
      <h2 id="month{{m}}">{{ m | to_month }}</h2>
      <ol class="hatom">
      {% for post in page.posts_by_month[page.year][m]  %}
        <li class="hentry"><article>
          <a href="{{ post.url }}" class="entry-title" rel="bookmark">{{ post.title }}</a>
          <div class="meta">
            <time class="published updated"
                  datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
          </div>
          <div class="entry-summary">
            {{ post.Teaser | markdownify }}
          </div>
        </article></li>
      {% endfor %}
      </ol>
    {% endif %}
  {% endfor %}
</section>
