<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>
        {% if page.tag %}
        Posts tagged &ldquo;{{ page.tag }}&rdquo; &mdash; 
        {% elsif page.title %}
        &ldquo;{{ page.title }}&rdquo; &mdash; 
        {% elsif page.month %}
        Archived posts from {{ page.month | to_month }}, {{ page.year }} &mdash;
        {% elsif page.year %}
        Archived posts from {{ page.year }} &mdash;
        {% endif %}
        {% if page.completetitle %}
            {{ page.completetitle }}
        {% else %}
            Mike West
        {% endif %}
    </title>
    {% include document_head.html %}
  </head>
  <body>
    {% include universal_header.html %}
    {{ content }}
    {% include universal_footer.html %}
  </body>
</html>
