---
layout: default
---
<article class="hentry" role="main">
  <h1 class="entry-title">{{ page.title }}</h1>
  <time class="published" pubdate datetime="{{ page.date | date: '%Y-%m-%d' }}">
    {{ page.date | date: "%A, %B %d, %Y" }}
  </time>

  {{ content }}

  <address class="vcard">&mdash; <a href="/" rel="author" class="fn url">Mike West</a></address>

  <aside>
    <p>
    <span>More reading: </span>If you enjoyed this post,
      {% if page.suggestions %}
      take a look at
        {% for suggestion in page.suggestions %}
          &ldquo;<a href="{{ suggestion.url }}">{{ suggestion.title }}</a>&rdquo;
          {% if forloop.last %}. {% else %}, {% if forloop.rindex0 == 1 %}and {% endif %}{% endif %}
        {% endfor %}
      </p><p>
      You might also be interested in perusing lists of other posts tagged
      {% else %}
      you might also be interested in perusing lists of other posts tagged
      {% endif %}
      {% for tag in page.tags %}
        &#145;<a href="/tags/{{ tag | cgi_encode }}"
                 rel="category tag"
                 title="View other entries tagged '{{ tag }}'">{{ tag }}</a>&#146;{% if forloop.last %}.{% else %}, {% if forloop.rindex0 == 1 %}or {% endif %}{% endif %}
      {% endfor %}
    </p>
  </aside>
</article>
