---
layout: default
---
        <div class="article">
            <div class="head">
                <h1>{{ page.title }}</h1>
                <p class="published">{{ page.date | date: "%A, %B %d, %Y" }}</p>
            </div>
            <div class="body">
                {{ content }}
            </div>
            <div class="meta">
                <ol class="navigation">
                    {% if page.previous %}
                    <li class="older"><span>Older: </span><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>
                    {% endif %}
                    {% if page.next %}
                    <li class="newer"><span>Newer: </span><a href="{{ page.next.url }}">{{ page.next.title }}</a></li>
                    {% endif %}
                </ol>
                <p>
                    This entry was published on <span class="published">{{ page.date | date: "%A, %B %d, %Y" }}</span>.
                    Articles published around the same time can be found <a href="{{ page.date | date: '/%Y/#month%m' }}">in the archive</a>.
                </p><p>
                    <span>Further reading: </span>If you enjoyed this post, you might
                    like to take a look at some of my other posts about  
{% for tag in page.tags %}
<!-- TODO: 1) URL encode `tag`.  2) Fix the tag root. -->
&#145;<a href="/tags/{{ tag | cgi_encode }}" rel="tag" title="View other entries tagged '{{ tag }}'">{{ tag }}</a>&#146;{% if forloop.last %}.{% else %}, {% if forloop.rindex0 == 1 %}or {% endif %}{% endif %}
{% endfor %}
                    I've also made available a <a href="/tags/">list of all the topics I've written about</a>
                    if you're interested in my (folkless) folksonomy.
                </p>
            </div>
        </div>
