---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  <time class="published" pubdate datetime="{{ page.date | date: %Y-%m-%d }}">
    {{ page.date | date: "%A, %B %d, %Y" }}
  </time>
  {{ content }}
</article>
<aside>
  <p>
    <span>Further reading: </span>If you enjoyed this post, you might like to
    take a look at some of my other posts about
    {% for tag in page.tags %}
      &#145;<a href="/tags/{{ tag | cgi_encode }}"
               rel="tag"
               title="View other entries tagged '{{ tag }}'">{{ tag }}</a>&#146;{% if forloop.last %}.{% else %}, {% if forloop.rindex0 == 1 %}or {% endif %}{% endif %}
    {% endfor %}
  </p>
</aside>
